.h1 {
    background-color: wheat;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 0;
    text-align: center; 
    height: 100px;
    background-color: #FFF7E9;
    border-radius: 5px;
    overflow: auto;
}

.taskName {
    font-size: 14px;
    vertical-align: middle;
    margin: 8px;
    font-weight: bolder;
    word-wrap: break-word;
}

.day {
    flex: 1 1 0px;
    flex-grow: 1;
    width: 0;
}

.date {
    text-align: center;
    margin: 0;
    background-color: #5F9DF7;
    border-radius: 8px;
    font-weight: 800;
}