.h1 {
    background-color: wheat;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 0;
    text-align: center; 
    min-height: 100px;
    background-color: #5F9DF7;
    border-radius: 5px;
}

.taskName {
    vertical-align: middle;
    margin: 8px;
    font-weight: 800;
}

.date {
    text-align: center;
    margin: 0;
    background-color: #5F9DF7;
    border-radius: 8px;
    font-weight: 800;
}