ul {
	list-style-type: none;
	background-color: #fff7e9;
	margin: 0;
	padding: 0;
	overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
}

li {
	display: inline;
    line-height: 40px;
}

li a:hover {
	background-color: #fbea91;
}

.NavLink {
	color: black;
	font-weight: 800;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
