.background {
    display: flex;
    flex-direction: column;
	background-color: #1746A2;
    margin: 5px;
    border-radius: 10px;
}

.planner {
    color: white;
    text-align: center;
    margin: 5px 0 0 20px;
}

.week {
    padding: 10px 15px 10px;
    gap: 10px;
	display: flex;
}

